mixin team-cards()
    .team-cards
        .team-cards__inner
            .container
                .team-cards__content
                    .team-cards__title Наша команда
            .cards
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Светлана Мицкевич
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Елена Бородина
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Сергей Пехота
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Вероника Бородавко
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Вероника Бородавко
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее
                .cards__item
                    .cards__content
                        .cards__partner
                            img.cards__partner-img(src=require("./../images/partner.png"), alt="partner")
                        .cards__wrapper
                            .cards__name Вероника Бородавко
                            .cards__description Управляющий партнер, адвокат
                            span.cards__more Подробнее

